.App {
  text-align: center;
  font-family: system-ui;
}

.title {
  width: 100%;
  font-size: 30px;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.newsContainer {
  width: 100%;
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.article {
  width: 700px;
  border: 2px solid blue;
  padding: 10px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.article img {
  width: 500px;
}

